$persianBlue: #1730c1;
$royalBlue: #132163;
$lighterBlue: #82d7ff;
$lightBlue: #1BB3F9;
$grey: #686e7e;
$lightGrey: #A5AEC6;
$orange: #f99628;
$tanOrange: #FBBA72;
$tan: #F9C8AC;
$whiteSmoke: #f9f7f4;
$jet: #343434;

:root {
  --persianBlue: #1730c1;
  --royalBlue: #132163;
  --lighterBlue: #82d7ff;
  --lightBlue: #1BB3F9;
  --grey: #686e7e;
  --lightGrey: #A5AEC6;
  --orange: #f99628;
  --tanOrange: #FBBA72;
  --tan: #F9C8AC;
  --whiteSmoke: #f9f7f4;
  --jet: #343434;
}
