@use '../../styles/global.scss' as *;

.home-header {
  background-color: #1730c1;
  margin: 0 auto;
  padding: 220px 0;
  position: relative;
  overflow: hidden;

  .home-header-text {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 280px;
    background-color: $whiteSmoke;
    padding: 25px;
    font-family: $primaryFont;
    font-size: 30px;
    color: $royalBlue;
    z-index: 1;
  }

  .header-img {
    &.yum {
      width: 23%;
      position: absolute;
      top: 20px;
      left: 2%;
    }
    &.jar {
      width: 25%;
      position: absolute;
      top: 20px;
      right: -10px;
      transform: rotate(-20deg);
      z-index: 3;
    }
    &.toast {
      width: 25%;
      position: absolute;
      bottom: 20px;
      right: 19%;
      z-index: 2;
    }
    &.yogurt {
      width: 20%;
      position: absolute;
      bottom: -10px;
      left: 23%;
    }
  }
}

.home-products {
  padding: 10px 50px 30px;
  text-align: center;
  margin: -25px auto 0;
  background-image: url("../../assets/images/almonds.jpg"), url("../../assets/images/cashews.jpg");
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: 400px;
  background-attachment: fixed;

  p {
    font-family: $primaryFont;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .products-img {
    width: 360px;
    margin: -20px auto 40px;
    padding: 0;

    img {
      width: 100%;
    }
  }

  .products-btn {
    cursor: pointer;
    font: 18px 'Rufina', serif;
    padding: 10px;
    border-radius: 5px;
    color: $jet;
    border: 2px solid $jet;
    background-color: $lighterBlue;

    &:hover {
      color: $lightBlue;
      background-color: transparent;
      border-color: $royalBlue;
    }
  }
}

.home-about {
  padding: 30px;
  text-align: center;
  height: 600px;
  background: linear-gradient(90deg, $whiteSmoke 50%, $tan 50%);
  position: relative;
  margin: -25px auto 0;

  .about-left {
    position: absolute;
    bottom: 80px;
    left: 70px;
    font: 18px 'Quattrocento Sans', sans-serif;
    text-align: left;
    width: 400px;
    z-index: 1;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  .about-right {
    position: absolute;
    top: 80px;
    right: 70px;
    font: 18px 'Quattrocento Sans', sans-serif;
    text-align: right;
    width: 400px;
    z-index: 1;
  }

  .about-img {
    &.nuts {
      position: absolute;
      bottom: 120px;
      left: 290px;
      width: 250px;
      opacity: 0.9;
    }
    &.sando {
      position: absolute;
      top: 125px;
      right: 260px;
      width: 300px;

    }
  }

  .about-btn {
    margin-top: 0;
    cursor: pointer;
    font: 18px 'Rufina', serif;
    padding: 10px;
    border-radius: 5px;
    color: $jet;
    border: 2px solid $jet;
    background-color: $tanOrange;

    &:hover {
      color: $grey;
      background-color: transparent;
      border-color: $persianBlue;
    }
  }

  .notin {
    height: 500px;
  }
}

.solidline {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 30%;
  border-top: 3px solid $grey;
}
