@use '../../../styles/global.scss' as *;

.cart {
  position: fixed;
  top: 65px;
  right: 45px;
  width: 300px;
  max-height: 60%;
  overflow-y: auto;
  background-color: $whiteSmoke;
  box-shadow: 0px 3px 8px 2px rgba($grey, 0.4);
  padding: 20px;
  z-index: 100;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    li.none {
      margin-top: 5px;
      margin-bottom: -35px;
      border-bottom: none;
      z-index: 0;
    }

  }

  .cart-btns {
    display: flex;
    justify-content: space-around;

    button {
      width: 118px;
    }
  }

  .cart-totals {
    font-family: $primaryFont;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
    padding: 8px;
  }
}
