@use '../../../styles/global.scss' as *;

.add-btn {
  margin-top: 0;
  width: 100px;
  color: $jet;
  border: 2px solid $jet;
  cursor: pointer;

  .product-item.odd & {
    background-color: $lightBlue;

    &:hover {
      color: $whiteSmoke;
      background-color: transparent;
      border-color: $whiteSmoke;
    }
  }

  .product-item.even & {
    background-color: $tanOrange;

    &:hover {
      color: $whiteSmoke;
      background-color: transparent;
      border-color: $whiteSmoke;
    }
  }
}
