@use '../../styles/global.scss' as *;

.success-container {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: $whiteSmoke;
  min-height: 450px;

  display: flex;
  align-items: center;
  justify-content: center;

  .success-confirmation {
    text-align: center;
    padding: 60px;
    background: $whiteSmoke;
    border: 2px solid $royalBlue;
    border-radius: 12px;
    max-width: 600px;

    @media (max-width: 992px) {
      width: 90%;
      padding: 20px;
    }


    h2 {
      font-family: $primaryFont;
      margin-bottom: 10px;
    }

    p {
      font-family: $textFont;
      font-size: 16px;
      margin-bottom: 20px;
    }

    .success-sessionID {
      font-size: 12px;
      color: $grey;
      word-wrap: break-word;
    }

    .login-alternative {
      margin-top: 16px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $grey;
    }

    button {
      margin: 8px auto;
    }

    .view-order-btn {
      display: inline-block;
      margin-top: 8px;
      padding: 10px 20px;
      font: 16px $primaryFont;
      color: $lightBlue;
      background-color: transparent;
      border: 2px solid $royalBlue;
      border-radius: 6px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $whiteSmoke;
        background-color: $royalBlue;
      }
    }

    .continue-shopping {
      display: inline-block;
      margin-top: 16px;
      padding: 10px 20px;
      font: 16px $primaryFont;
      color: $lightBlue;
      background-color: transparent;
      border: 2px solid $royalBlue;
      border-radius: 6px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $whiteSmoke;
        background-color: $royalBlue;
      }
    }
  }
}
