@use './styles/global.scss' as *;

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

/* Links */
a {
  text-decoration: none;
  cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3);
}

button {
	margin-top: 40px;
	cursor: pointer;
	font-family: $primaryFont;
  font-size: 18px;
	padding: 10px;
	color: $whiteSmoke;
	background-color: $royalBlue;
	border: 2px solid;
	border-color: $royalBlue;
	border-radius: 5px;

	&:hover {
		color: $lightBlue;
		background-color: transparent;
		border: 2px solid;
		border-color: $royalBlue;
	}
}
